.footer {
  background-color: rgb(15, 7, 31);
  bottom: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 8px !important ;
  opacity: 0.9;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  text-align: center !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}
